#navbar {
    background-color:blue;
    text-align:center;
}

#navbar li {
    display:inline-block;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    background-color: #bfbfbf;
}

#body {
    background-color: gray;
}

#h1 {
    text-align: center;
    background-color: blue;
}

#h2 {
    float: right;
    width: 50%;
    border: dashed;
}

#h3 {
    float: left;
    width: 50%;
    border: dashed;
}

#h4 {
    float: right;
    width: 50%;
    border: dashed;
}

#h5 {
    float: left;
    width: 50%;
    border: dashed;
}

#h6 {
    float: right;
    width: 50%;
    border: dashed;
}

#img1 {
    width: 300px;
    padding-bottom: 70px;
    padding-top: 30px;
    padding-right: 150px;
    padding-left: 200px;
    
}

#img2 {
    width: 400px;
    float: top;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-left: 110px;
}

#img3 {
    width: 300px;
    padding-left: 200px;
}

#img4 {
    width: 400px;
    padding-left: 130px;
}



    
    